# "cp terraform.tfvars.template terraform.tfvars"  for activate

project_name = "landing-zone"
account_id   = "723298837109"
aws_region   = "eu-west-1"
owner        = "platform-infra"
environment  = "develop"
